/* SCSS RGB
$chrome-yellow: rgba(255, 170, 0, 1);
$selective-yellow: rgba(255, 183, 0, 1);
$mikado-yellow: rgba(255, 195, 0, 1);
$cyber-yellow: rgba(255, 208, 0, 1);
$golden-yellow: rgba(255, 221, 0, 1); */

body {
  color: blue;
}
.topicContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0.5rem auto 0.5rem auto;
}

.topicContainer .topic {
  width: 20%;
  text-align: center;
  border-radius: .5rem;
  font-weight: 600;
  margin: 1rem;
  padding: .25rem .25rem;
  cursor: pointer;
  border: 3px solid blue;
  outline: 3px solid violet;
}

.qContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0.5rem auto 0.5rem auto;
}

.qContainer #question {
  width: 60%;
  height: 15px;
  text-align: center;
  border-radius: .5rem;
  font-weight: 600;
  margin: 0.5rem auto;
  padding: .5rem .5rem;
  cursor: pointer;
  border: 3px solid blue;
  outline: 3px solid violet;
  background-color: pink;
}

.qContainer .answer {
  width: 40%;
  height: 15px;
  text-align: center;
  border-radius: .5rem;
  font-weight: 600;
  margin: 0.5rem auto;
  padding: .25rem .25rem;
  cursor: pointer;
  border: 2px solid blue;
  outline: 2px solid violet;
}

#questionProgress {
  width: 40%;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: .5rem;
  font-weight: 600;
  margin: 1rem auto;
  padding: .5rem .5rem;
  cursor: pointer;
  border: 3px solid violet;
  outline: 3px solid blue;
  background-color: pink;
}

#questionProgress #qProgress {
  width: 40%;
  text-align: left;
}

#questionProgress #score {
  width: 40%;
  text-align: right;
}

#feedback {
  width: 40%;
  height: 15px;
  text-align: center;
  border-radius: .5rem;
  font-weight: 600;
  margin: 1rem auto;
  padding: .5rem .5rem;
  cursor: pointer;
  border: 3px solid blue;
  outline: 3px solid violet;
  background-color:rgba(255, 192, 203, 0.5);
}

.controls {
  width: 40%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.controls button {
  width: 30%;
  text-align: center;
}

button {
  cursor: pointer;
  border-radius: .5rem;
  font-weight: 600;
  margin: 0.5rem auto;
  padding: .25rem .25rem;
  border: 3px solid blue;
  outline: 3px solid violet;
}

h1 {
  text-align: center;
}

.answer:hover,
.topic:hover {
  background-color: pink;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: rgba(255, 0, 0, 0.5);
}

.disabled {
  pointer-events: none;
}

/*@media screen and (max-width: 400px) {
  .container {
    display: flex;
    grid-template-areas:
      'topic1 topic2'
      'topic3 topic4'
      'qNumber qTotal'
      'score score'
      'question question'
      'ans1 ans2'
      'ans3 ans4'
      'feedback feedback';
    gap: 5px;

    background-color: rgba(255, 170, 0, 0.5);
    padding: 5px;
    grid-template-columns: minmax(150px, 20%);
    border-color: black;
  }
}*/